<div class="panel">
    <div class="inner">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="https://0x7.me/UDyj" target="_blank" class="" data-label="qiniu-sidebar">
                    <img src="//dn-cnode.qbox.me/Fn4D6BhOTz1IswvmzeZ1q7QW1ls_" width="100%">
                </a>
            </li>

            <li class="list-group-item">
                <a href="http://www.ucloud.cn/site/active/gift.html?utm_source=cnodejs&amp;utm_medium=content_pic_pc&amp;utm_campaign=multicloud&amp;utm_content=gift&amp;ytag=cnodejs" target="_blank" class="" data-label="ucloud-banner">
                    <img src="//dn-cnode.qbox.me/FgQS-GQDfqwAD_v0NuhyYUOUk5MG" width="100%">
                </a>
            </li>

            <li class="list-group-item">
                <a href="https://0x7.me/UDyj" target="_blank" class="" data-label="qiniu-sidebar">
                    <img src="//dn-cnode.qbox.me/Fv9R31Y6ySKKJi95ldk9TRkJ7o5O" width="100%">
                </a>
            </li>
        </ul>
    </div>
</div>